/*------------------------------------*\
  YOUTUBE MODAL
\*------------------------------------*/
.youtube-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    font-family: Helvetica, Arial, sans-serif;
}

.youtube-modal.is-open {
    opacity: 1;
    pointer-events: visible;
    visibility: visible;
}

.youtube-modal__close {
    position: absolute;
    top: 80px;
    right: 20px;
    border: 0;
    border-radius: 0;
    padding: 0;
    background: none;
    outline: none;
    color: #FFF;
    z-index: 10;
}

.youtube-modal__close:hover {
    cursor: pointer;
}

.youtube-modal__close svg {
    width: 30px;
    height: 30px;
}


/*------------------------------------*\
  YOUTUBE VIDEO
\*------------------------------------*/
.yt-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 1);
    z-index: 5;
}

.yt-player {
    position: absolute;
    width: 100%;
    height: 100%;
}

.yt-controls {
    position: absolute;
    bottom: 0;
    color: white;

    width: 100%;
    z-index: 10;
}

.yt-toggle {
    position: relative;
    padding: 0;
    background: none;
    border: none;
}

.yt-toggle-icon-default {
    height: 30px;
    width: 30px;
    display: block;
    overflow: hidden;
    position: relative;
}

.left {
    height: 100%;
    float: left;
    background-color: white;
    width: 36%;
    transition: all 0.25s ease;
    overflow: hidden;
}
.triangle-1 {
    transform: translate(0, -100%);
}
.triangle-2 {
    transform: translate(0, 100%);
}
.triangle-1,
.triangle-2 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    width: 0;
    height: 0;
    border-right: 30px solid #000;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    transition: transform 0.25s ease;
}

.right {
    height: 100%;
    float: right;
    width: 36%;
    background-color: white;
    transition: all 0.25s ease;
}

.yt-toggle-icon.is-paused .left {
    width: 50%;
}
.yt-toggle-icon.is-paused .right {
    width: 50%;
}
.yt-toggle-icon.is-paused .triangle-1 {
    transform: translate(0, -50%);
}
.yt-toggle-icon.is-paused .triangle-2 {
    transform: translate(0, 50%);
}


.progress-container {
    position: relative;
    width: 100%;
    height: 100px;
    background: white;
}

.progress-container:hover {
    cursor: pointer;
}

.progress-appearance {
    width: 100%;
    height: 100%;
    background: red;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background: gray;
}

.yt-toggle-icon-holder {
    position: relative;
    width: 30px;
    height: 30px;
}

.yt-toggle-icon {
    position: absolute;
    top: 0;
    color: #FFF;
}

.yt-toggle-icon.mod-toggle {
    position: relative;
}

.yt-toggle-icon.mod-pause {
    opacity: 0;
}

.is-paused .yt-toggle-icon.mod-pause {
    opacity: 1;
}

.is-paused .yt-toggle-icon.mod-play {
    opacity: 0;
}


