{{modal-video
    showVideoModal = showVideoModal
    videoId = videoId
    width = "auto"
    height = "auto"
    controls = 0
}}


<button {{action "openModal" listOfVideos "gleason"}}>Open gleason</button>
<button {{action "openModal" listOfVideos "mothersday"}}>Open mothersday</button>

<button {{action "openModal" listOfVideos "bleedforthis"}}>Open bleedforthis</button>